<div class="container">
  <div class="block-static2-inner">
    <div class="img"><a href="#"><img class="alignnone size-full" src="../../assets/images/banner6.jpg" alt="banner6"></a></div>
    <div class="content">
      <h3>big offer 2017</h3>
      <h2>45% off</h2>
      <p>Lorem Ipsum is simply dummy text. </p>
    </div>
    <div class="trending">
      <div class="trending-inner">
        <h3>Creative</h3>
        <h2>HUGE SALE</h2>
        <p>New Design </p>
      </div>
    </div>
  </div>
</div>
