<div class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="jtv-banner3">
          <div class="jtv-banner3-inner"><a href="#"><img src="../../assets/images/banner3.jpg" alt=""></a>
            <div class="hover_content">
              <div class="hover_data">
                <div class="title"> new trend </div>
                <div class="desc-text"> Lorem ipsum dolor sit</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="jtv-banner1"><a href="#"><img src="../../assets/images/banner1.jpg" alt=""></a>
          <div class="hover_content">
            <div class="hover_data">
              <div class="title"> Season sale </div>
              <div class="desc-text"> offer </div>
              <div class="shop-now"><a href="#">Shop now</a></div>
            </div>
          </div>
        </div>
        <div class="jtv-banner2"><a href="#"><img src="../../assets/images/banner2.jpg" alt=""></a>
          <div class="hover_content">
            <div class="hover_data">
              <div class="title"> New year Sale</div>
              <div class="desc-text"> 35% Off all items </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
