<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<app-mobile-menu-component></app-mobile-menu-component>
<div id="page">
  <app-page-header-component></app-page-header-component>
  <app-navigation-component></app-navigation-component>
  <app-home-slider-component></app-home-slider-component>
  <app-offers-component></app-offers-component>
  <app-special-products-component></app-special-products-component>
  <app-big-offer-component></app-big-offer-component>
  <app-top-sellers-component></app-top-sellers-component>
  <app-top-banner-component></app-top-banner-component>
  <app-special-offers-component></app-special-offers-component>
  <app-deal-of-the-week-component></app-deal-of-the-week-component>
  <app-latest-news-component></app-latest-news-component>
  <app-footer-component></app-footer-component>
</div>

