<div class="jtv-category-area">
  <div class="container">
    <div class="row"> <!-- banner -->
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="jtv-banner">
          <div class="upper">
            <div class="jtv-subbanner1"><a href="#"><img class="img-respo" alt="jtv-subbanner1" src="../../assets/images/banner4.jpg"></a>
              <div class="text-block">
                <div class="text1"><a href="#"> Shoes</a></div>
                <div class="text2"><a href="#">special offer</a></div>
                <div class="text3"><a href="#">35% off</a></div>
              </div>
            </div>
            <div class="jtv-subbanner2"><a href="#"><img class="img-respo" alt="jtv-subbanner2" src="../../assets/images/banner5.jpg"></a>
              <div class="text-block">
                <div class="text1"><a href="#">Handbag</a></div>
                <div class="text2"><a href="#">Best offer</a></div>
                <div class="text3"><a href="#">25% off</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="jtv-single-cat">
          <div class="page-header">
            <h2>Best sale of week</h2>
          </div>
          <div class="jtv-product">
            <div class="product-img"> <a href="single_product.html"> <img src="../../assets/images/products/img10.jpg" alt=""> <img class="secondary-img" src="../../assets/images/products/img11.jpg" alt=""> </a> </div>
            <div class="jtv-product-content">
              <h3><a href="single_product.html">Lorem ipsum dolor sit amet</a></h3>
              <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
              <div class="jtv-product-action">
                <div class="jtv-extra-link">
                  <div class="button-cart">
                    <button><i class="fa fa-shopping-cart"></i></button>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-heart"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="jtv-product">
            <div class="product-img"> <a href="single_product.html"> <img src="../../assets/images/products/img12.jpg" alt=""> <img class="secondary-img" src="../../assets/images/products/img13.jpg" alt=""> </a> </div>
            <div class="jtv-product-content">
              <h3><a href="single_product.html">Lorem ipsum dolor sit amet</a></h3>
              <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
              <div class="jtv-product-action">
                <div class="jtv-extra-link">
                  <div class="button-cart">
                    <button><i class="fa fa-shopping-cart"></i></button>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-heart"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="jtv-product jtv-cat-margin">
            <div class="product-img"> <a href="single_product.html"> <img src="../../assets/images/products/img14.jpg" alt=""> <img class="secondary-img" src="../../assets/images/products/img15.jpg" alt=""> </a> </div>
            <div class="jtv-product-content">
              <h3><a href="single_product.html">Lorem ipsum dolor sit amet</a></h3>
              <div class="price-box">
                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
              </div>
              <div class="jtv-product-action">
                <div class="jtv-extra-link">
                  <div class="button-cart">
                    <button><i class="fa fa-shopping-cart"></i></button>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-heart"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="jtv-product jtv-cat-margin">
            <div class="product-img"> <a href="single_product.html"> <img src="../../assets/images/products/img08.jpg" alt=""> <img class="secondary-img" src="../../assets/images/products/img07.jpg" alt=""> </a> </div>
            <div class="jtv-product-content">
              <h3><a href="single_product.html">Lorem ipsum dolor sit amet</a></h3>
              <div class="price-box">
                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
              </div>
              <div class="jtv-product-action">
                <div class="jtv-extra-link">
                  <div class="button-cart">
                    <button><i class="fa fa-shopping-cart"></i></button>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-heart"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="jtv-product jtv-cat-margin">
            <div class="product-img"> <a href="single_product.html"> <img src="../../assets/images/products/img06.jpg" alt=""> <img class="secondary-img" src="../../assets/images/products/img05.jpg" alt=""> </a> </div>
            <div class="jtv-product-content">
              <h3><a href="single_product.html">Lorem ipsum dolor sit amet</a></h3>
              <div class="price-box">
                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $456.00 </span> </p>
                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $567.00 </span> </p>
              </div>
              <div class="jtv-product-action">
                <div class="jtv-extra-link">
                  <div class="button-cart">
                    <button><i class="fa fa-shopping-cart"></i></button>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-heart"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="jtv-product jtv-cat-margin">
            <div class="product-img"> <a href="single_product.html"> <img src="../../assets/images/products/img02.jpg" alt=""> <img class="secondary-img" src="../../assets/images/products/img01.jpg" alt=""> </a> </div>
            <div class="jtv-product-content">
              <h3><a href="single_product.html">Lorem ipsum dolor sit amet</a></h3>
              <div class="price-box"> <span class="regular-price"> <span class="price">$225.00</span> </span> </div>
              <div class="jtv-product-action">
                <div class="jtv-extra-link">
                  <div class="button-cart">
                    <button><i class="fa fa-shopping-cart"></i></button>
                  </div>
                  <a href="#" data-toggle="modal" data-target="#productModal"><i class="fa fa-search"></i></a> <a href="#"><i class="fa fa-heart"></i></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
