<div class="container">
  <div id="latest-news" class="news">
    <div class="page-header">
      <h2>Latest news</h2>
    </div>
    <div class="slider-items-products">
      <div id="latest-news-slider" class="product-flexslider hidden-buttons">
        <div class="slider-items slider-width-col6">

          <!-- Item -->
          <div class="item">
            <div class="jtv-single-blog">
              <div class="blog-image"> <a href="single_post.html"> <img src="../../assets/images/blog-img1.jpg" alt="Blog"> </a> <span class="blog-date"> <a href="#"> <span class="month-date"><small>20</small>Feb</span> </a> </span> </div>
              <div class="blog-content">
                <div class="title-desc"> <a href="single_post.html">
                  <h4>Sed do eiusmod sit amet</h4>
                </a>
                  <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,</p>
                </div>
                <div class="blog-info"> <span class="author-name"> <i class="fa fa-user"></i>By <a href="#">John Doe</a> </span> <span class="comments-number"> <i class="fa fa-comment"></i>20 Comment </span> </div>
              </div>
            </div>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="item">
            <div class="jtv-single-blog">
              <div class="blog-image"> <a href="single_post.html"> <img src="../../assets/images/blog-img2.jpg" alt="Blog"> </a> <span class="blog-date"> <a href="#"> <span class="month-date"><small>15</small>Mar</span> </a> </span> </div>
              <div class="blog-content">
                <div class="title-desc"> <a href="single_post.html">
                  <h4>Lorem ipsum dolor sit amet</h4>
                </a>
                  <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,</p>
                </div>
                <div class="blog-info"> <span class="author-name"> <i class="fa fa-user"></i>By <a href="#">Vince Roy</a> </span> <span class="comments-number"> <i class="fa fa-comment"></i>20 Comment </span> </div>
              </div>
            </div>
          </div>
          <!-- End Item -->
          <!-- Item -->
          <div class="item">
            <div class="jtv-single-blog">
              <div class="blog-image"> <a href="single_post.html"> <img src="../../assets/images/blog-img3.jpg" alt="Blog"> </a> <span class="blog-date"> <a href="#"> <span class="month-date"><small>30</small>Aug</span> </a> </span> </div>
              <div class="blog-content">
                <div class="title-desc"> <a href="single_post.html">
                  <h4>Sed do eiusmod sit amet</h4>
                </a>
                  <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,</p>
                </div>
                <div class="blog-info"> <span class="author-name"> <i class="fa fa-user"></i>By <a href="#">John Doe</a> </span> <span class="comments-number"> <i class="fa fa-comment"></i>20 Comment </span> </div>
              </div>
            </div>
          </div>
          <!-- End Item -->
          <!-- Item -->
          <div class="item">
            <div class="jtv-single-blog">
              <div class="blog-image"> <a href="single_post.html"> <img src="../../assets/images/blog-img4.jpg" alt="Blog"> </a> <span class="blog-date"> <a href="#"> <span class="month-date"><small>08</small>Jun</span> </a> </span> </div>
              <div class="blog-content">
                <div class="title-desc"> <a href="single_post.html">
                  <h4>Lorem ipsum dolor sit amet</h4>
                </a>
                  <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,</p>
                </div>
                <div class="blog-info"> <span class="author-name"> <i class="fa fa-user"></i>By <a href="#">Vince Roy</a> </span> <span class="comments-number"> <i class="fa fa-comment"></i>20 Comment </span> </div>
              </div>
            </div>
          </div>
          <!-- End Item -->

        </div>
      </div>
    </div>
  </div>
</div>
