<div class="container">
  <div class="row">

    <!-- daily deal section-->
    <div class="col-md-6">
      <div class="daily-deal-section daily-deal-parallax">
        <div class="daily-deal">
          <h3 class="deal-title">DEAL THIS WEEK</h3>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <div class="box-timer">
            <div class="time" data-countdown="countdown" data-date="09-30-2017-10-20-50"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Testimonials Box -->
      <div class="testimonials">
        <div class="slider-items-products">
          <div id="testimonials-slider" class="product-flexslider hidden-buttons home-testimonials">
            <div class="slider-items slider-width-col4 ">
              <div class="holder">
                <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. </p>
                <div class="thumb"> <img src="../../assets/images/testimonials-img3.jpg" alt="testimonials img"> </div>
                <strong class="name">John Doe</strong> <strong class="designation">CEO, Company</strong> </div>
              <div class="holder">
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                <div class="thumb"> <img src="../../assets/images/testimonials-img1.jpg" alt="testimonials img"> </div>
                <strong class="name">Vince Roy</strong> <strong class="designation">CEO, Newspaper</strong> </div>
              <div class="holder">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                  minim veniam, quis nostrud. </p>
                <div class="thumb"> <img src="../../assets/images/testimonials-img2.jpg" alt="testimonials img"> </div>
                <strong class="name">John Doe</strong> <strong class="designation">CEO, ABC Softwear</strong> </div>
              <div class="holder">
                <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat.</p>
                <div class="thumb"> <img src="../../assets/images/testimonials-img4.jpg" alt="testimonials img"> </div>
                <strong class="name">Vince Roy</strong> <strong class="designation">CEO, XYZ Softwear</strong> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Testimonials Box -->

  </div>
</div>
